.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.show {
    opacity: 1;
}

#info-image {
    max-width: 100%;
    height: auto;
}

#info-text {
    font-size: 18px;
    margin-top: 10px;
}
